body{
    display: flex;
}
.botao{
    width: 120px;
    height: 120px;
    background-color: yellow;
    font-size: 15px;
}
.botao1{
    width: 120px;
    height: 120px;
    background-color: red;
    font-size: 15px;
}
.botao2{
    width: 120px;
    height: 120px;
    background-color: rgb(21, 194, 21);
    font-size: 15px;
}
.campo{
    width: 800px;
    height: 500px;
    font-size: 40px;
}
.organizar{
    width: 350px;
    height: 700px;
    text-align: center;

}
